{% extends 'base.html' %}
{% block content%}
    <div class="to_do_list">
        <ul class="list-group list-group-flush"></ul>
        {% for task in tasks %}
            <a href="{% url 'task_view' task.id %}">{{ task.description}}</a></p>
                <p>Статус: {{ task.get_status_display }}</p>
                {% if task.date_completed %}
                    <p>Дата выполнения: {{ task.date_completed }}</p>
                {% endif %}
        {% endfor %}
        </ul>
    </div> 

{% endblock %}