{% extends 'base.html' %}

{% block menu %}
    <li><a href='{% url "task_create" %}'>Добавить задачу</a></li>
    <li><a href='{% url "task_update"  task.id %}'>Редактировать задачу</a></li>
    <li><a href='{% url "task_delete" task.id %}'>Удалить задачу</a></li>
{% endblock menu %}

{% block page_header %}Детали задачи {{ article.id }}{% endblock page_header %}

{% block content %}
    <p>Описание задачи: {{ task.description }}</p>
    <p>Статус: {{ task.get_status_display }}</p>
    {% if task.date_completed%}
        <p>Дата выполнения: {{ task.date_completed }}</p>
    {% else %}
        <p>Дата выполнения: не выполнено</p>
    {% endif %}
    <p>Полное описание задачи: {{ task.full_description}}</p>
    <br/>
    <a href="{% url 'task_delete' task.pk %}">Удалить задачу</a>
{% endblock %}


